.cart--container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    user-select: none;
    letter-spacing: 1px;
    font-family: 'orbitron';
    background-color: whitesmoke;
}

.cart__title--container {
    width: 100%;
    position: absolute;
    top: 75px;
}

.cart__title {
    font-size: 30px;
    font-family: 'orbitron';
    padding-left: 25px;
}

.cart__orderInfo--container {
    box-shadow: 2px 2px 3px 0px black;
    font-family: orbitron;
    width: 70%;
    margin-top: 1rem;
    background-color: #eaeaea;
}

.cart__orderInfo--details {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin-top: 1rem;
}

.cart__orderInfo--details h5 {
    padding-left: 1rem;
}

.cart__orderInfo--ID {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart__list--container {
    font-size: 1rem;
    height: 50%;
    width: 65%;
    position: absolute;
    top: 160px;
    overflow-y: auto;
    font-weight: lighter;
    letter-spacing: 0.5px;
    z-index: 1;
}

.cart__pocketHider {
    width: 65%;
    position: absolute;
    bottom: 100px;
    overflow: hidden;
}

.cart__empty {
    position: relative;
    font-family: 'orbitron', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.cart__total--container {
    position: absolute;
    font-family: orbitron;
    top: 150px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    left: 27px;
    gap: 60px;
}

.cart__confirm--container{
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    left: 22px;
    z-index: 1;
    color: whitesmoke;
    gap: 10px;
}

.cart__confirm--container:hover {
    color: black;
}

.cart__confirm {
    width: 65px;
    transition: 0.2s;
}

.cart__confirm:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: blac
}

.cart__erase--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    color: whitesmoke;
    top: 85px;
}

.cart__erase--container:hover {
    color: black;
}

.cart__erase {
    transition: 0.2s;
    width: 43px;
}

.cart__erase:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: black;
}

.navigate__options--container {
    display: flex;
    position: absolute;
    bottom: 25px;
    letter-spacing: 1px;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.swal2-container {
    font-family: 'orbitron';
    letter-spacing: 1px;
}

.swal2-icon.swal2-warning {
    border-color: #ffa354;
    color: #ffa354;
}