.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    margin: 0.5rem;
    padding: 1rem;
    width: 260px;
    font-family: 'Anton', sans-serif;
    box-shadow: 1px 1px 3px rgb(46, 46, 46);
    margin-top: 50px;
    transition: 0.25s;
    z-index: 1;
}

.card:hover {
    background-color: rgb(201, 201, 201);
    cursor: pointer;
    transform: scale(1.02);
}

.card__more {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 10px;
    font-size: 0.85rem;
    color: white;
}

.card__img {
    width: 205px;
    margin-bottom: -25px;
    margin-top: -20px;
}

.card__name {
    font-size: 1rem;
    margin-bottom: -10px;
    color: rgb(50, 50, 50)
}

.card__detail--container {
    display: flex;
    flex-direction: column;
    max-height: 130px;
}

.card__detail {
    font-size: 14px;
    padding: 5px;
    color: rgb(40, 40, 40);
}

.card__price--container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 10px;
}

.card__price {
    font-size: 1.2rem;
    font-weight: bolder;
    color: rgb(50, 50, 50)
}

.card__buttons--container {
    display: flex;
    flex-direction: column;
    height: 120px;
    position: relative;
    top: 20px;
}

.card__buttons--subContainer {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0px 1.25rem 0px;
}

.card__buttons--minus {
    width: 35px;
}

.card__input {
    width: 20px;
    height: 25px;
    margin: auto;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 3px;
    opacity: 0.8;
    background: transparent;
    outline: none;
}

.card__buttons--plus {
    width: 35px;
}

.card__stock--container {
    display: flex;
    width: 100%;
    height: 25px;
    margin-top: 30px;
}

.card__stock {
    font-weight: bolder;
    font-size: 0.8rem;
    color: green;
}

.card__buttons--add {
    background-color: rgb(40, 40, 40);
    color: rgb(212, 212, 212);
    border: none;
    width: 145px;
    height: 40px;
    margin: auto;
    font-size: 0.9rem;
    transition: 0.3s;
    border-radius: 3rem;
}

.card__buttons--add:hover {
    cursor: pointer;
    background-color: rgb(158, 158, 158);
    color: rgb(240, 240, 240);
}