.navBar {
    min-width: 100vh;
    height: 55px;
    background-color: #4040a8;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 5px 5px 10px black;
}

.logo__container {
    display:flex;
    text-shadow:1px 1px 2px black;
    transition: 0.2s;
}

.logo__container:hover {
    cursor: pointer;
    text-shadow:3px 3px 3px black;
}

.logo__title {
    font-family: 'Anton', sans-serif;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    height: fit-content;
    margin-top: 0.9rem;
    color: whitesmoke;
}

.logo__subtitle {
    font-family: 'Anton', sans-serif;
    margin-top: 2rem;
    position: absolute;
    margin-left: 5.2rem;
    font-size: 1.1rem;
    color:gainsboro;
}

.categories__list {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: flex-end;
    margin: auto 15% auto auto;
    padding: 1.3rem;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.categories {
    font-family: 'Anton', sans-serif;
    color: gainsboro;
    transition: 0.2s;
    text-shadow:0.5px 0.5px 1px black;
    font-size: 15px;
}

.categories:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.cartContainer {
    width: 80px;
    height: 55px;
}

.cartContainer__count {
    border-radius: 50%;
    background-color: crimson;
    color: white;
    width: 19px;
    height: 19px;
    font-size: 0.8rem;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1rem;
    right: 1rem;
}

.cartContainer__img {
    top: 1.1rem;
    position: absolute;
    right: 1.4rem;
    width: 34px;
    height: 34px;
}

.cartContainer__img:hover {
    cursor: pointer;
}