.navBar {
    min-width: 100vh;
    height: 70px;
    background-color: #4040a8;
    display: flex;
    position: fixed;
    width: 100%;
}

.logo__container {
    display:flex;
}

.logo__container:hover {
    cursor: pointer;
}

.logo__title {
    font-family: 'Anton', sans-serif;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    height: fit-content;
    margin-top: 1.2rem;
    color: whitesmoke;
}

.logo__subtitle {
    font-family: 'Anton', sans-serif;
    margin-top: 2.3rem;
    position: absolute;
    margin-left: 5.2rem;
    font-size: 1.1rem;
    padding-top: 2px;
    color: gainsboro;
}

.categories__list {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: flex-end;
    margin: auto 15% auto auto;
    padding: 1.3rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 0px;
    color: gainsboro;
}

.categories:hover {
    cursor: pointer;
    text-decoration: none;
    text-shadow:1px black;
}

.cartContainer {
    margin-right: 10px;
    height: max-content;
    width: 80px;
}

.cartContainer__count {
    border-radius: 50%;
    background-color: crimson;
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}

.cartContainer__img {
    top: 1.4rem;
    position: absolute;
    right: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
}

.cartContainer__img:hover {
    cursor: pointer;
}