.navBar {
    min-width: 100vh;
    height: 70px;
    background-color: #4040a8;
    display: flex;
    position: fixed;
    width: 100%;
    opacity: 0.95;
}

.logo__container {
    display:flex;
    text-shadow:1px 1px 2px black;
    transition: 0.2s;
}

.logo__container:hover {
    cursor: pointer;
    text-shadow:3px 3px 3px black;
}

.logo__title {
    font-family: 'Anton', sans-serif;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    height: fit-content;
    margin-top: 1.2rem;
    color: whitesmoke;
}

.logo__subtitle {
    font-family: 'Anton', sans-serif;
    margin-top: 2.3rem;
    position: absolute;
    margin-left: 5.2rem;
    font-size: 1.1rem;
    padding-top: 2px;
    color:gainsboro;
}

.categories__list {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: flex-end;
    margin: auto 15% auto auto;
    padding: 1.3rem;
    letter-spacing: 1px;
    padding-bottom: 0px;
}

.categories {
    font-family: 'Anton', sans-serif;
    color: gainsboro;
    transition: 0.2s;
    text-shadow:0.5px 0.5px 1px black;
}

.categories:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.cartContainer {
    width: 80px;
    height: 70px;
}

.cartContainer__count {
    border-radius: 3rem;
    background-color: rgb(243, 134, 0);
    color: white;
    width: 20px;
    height: 17px;
    font-size: 14px;
    margin: 25px 0px 0px 47px;
    z-index: 1;
    position: absolute;
    padding-bottom: 4px;
}

.cartContainer__img {
    top: 1.6rem;
    position: absolute;
    right: 1.4rem;
    width: 40px;
    height: 40px;
}

.cartContainer__img:hover {
    cursor: pointer;
}