.itemResume__container {
    display: flex;
    justify-content: center;
    width: 95%;
    border-bottom: 1px solid gainsboro;
    height: 100px;
    margin: auto;
    position: relative;
    top: 15px;
    font-family: 'anton', sans-serif;
    font-size: 18px;
}

.itemResume__img {
    width: 110px;
    height: 110px;
    position: relative;
    right: 5rem;
    bottom: 10px;
}

.itemResume__goTo {
    position: absolute;
    left: 7.75rem;
    right: 0;
    top: 2.7rem;
    width: fit-content;
    text-decoration: none;
    transition: 0.2s;
    color: rgb(170, 170, 170);
    font-weight: unset;
}

.itemResume__goTo:hover {
    color: #46cc6b;
    cursor: pointer;
}

.itemResume__subContainer {
    display: flex;
    width: 60%;
    align-items: center;
    color: black;
    left: 4.8rem;
    position: relative;
    justify-content: space-between;
}

.itemResume__name, .itemResume__price {
    font-weight: unset;
}

.itemResume__options--container {
    display: flex;
    align-items: center;
    width: 90px;
    font-family: 'orbitron';
    font-size: 16px;
    color: rgb(44, 44, 44);
    gap: 5px;
}

.itemResume__product--minus {
    transition: 0.2s;
    width: 23px;
    margin-left: 5px;
}

.itemResume__product--minus:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.itemResume__quantity {
    width: 28px;
    font-size: 13px;
    font-family: orbitron;
    color: rgb(44, 44, 44);
}

.itemResume__product--delete {
    transition: 0.2s;
}

.itemResume__product--delete:hover {
    transform: translateY(-2px);
    cursor: pointer;
}