.slider__item--container {
    display: flex;
    background-color: #d0d0d0;
    align-items: center;
    height: 30%;
    width: 95%;
    font-family: 'orbitron', sans-serif;
    font-weight: unset;
}

.slider__item--img {
    width: 80px;
    position: relative;
    left: 8px;
}

.slider__item--name {
    position: relative;
    left: 1.4rem;
    font-size: 15px;
    top: 30px;
    width: 210px;
}

.slider__item--price {
    position: relative;
    font-size: 14px;
    left: 5rem;
    top: 12px;

}

.slider__item--quantity {
    color: #484848;
    position: relative;
    left: 3rem;
    bottom: 37px;
    font-size: 12px;
}

.slider__item--options {
    display: flex;
    width: 80px;
    position: sticky;
    right: 27px;
    margin-top: 50px;
}

.slider__item--minus {
    width: 23px;
    height: 23px;
    margin-left: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #c4cada91;
    transition: 0.25s;
}

.slider__item--minus:hover {
    cursor: pointer;
    transform: rotate(180deg);
}

.slider__item--delete {
    margin-left: 0.4rem;
    transition: 0.2s;
}

.slider__item--delete:hover {
    cursor: pointer;
    transform: scale(1.075);
}