.card__buttons--container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: absolute;
    top: 200px;
    right: 50px;
    height: 100px;
    width: 240px;
}

.card__buttons--subContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 33px;
  }

.card__buttons--minus, .card__buttons--plus {
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.card__buttons--minus:hover, .card__buttons--plus:hover {
    transform: rotate(180deg);
    cursor: pointer;
}

.card__input {
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 3px;
    opacity: 0.8;
    background: transparent;
    outline: none;
}